*
!*.*
!**/*.*
!/**/
!.*
!/*

nimcache/
**/*.bin
**/*.png
**/*.dot
**/*.tmp.*
**/*.tmp
**/*.html
**/*.css

**/*tmp-*
.nojekyll
nimdoc.cfg
/scripts/.circuit
/scripts/.latex
callgrind.out.*

public/*
**/cache
**/hmisc-*
**/*.out